{% macro form(action='', category='', title='', picture='', description='') -%}
		<form method='POST' action='{{action}}'>
			<label>Title</label>
			<input class='form-control' value="{{ title }}" name="title">
			<label>Picture (optional)</label>
			<input class='form-control' value="{{ picture }}" name="picture">
			<label>Description</label>
      <textarea rows=10 class='form-control' name="description">{{ description }}</textarea>
			<label>Category</label>
				<select name='category' class="select-categories">
          <option></option>
					{% for c in categories %}
            {% if c == category %}
              <option selected='selected' value="{{c}}">{{c}}</option>
            {% else %}
              <option value="{{c}}">{{c}}</option>
            {% endif %}
					{% endfor %}
				</select>
        <br>
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
			<input class='btn btn-primary btn-lg' type='submit' value='Submit'>
		</form>
{%- endmacro %}
