<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Salah Ahmed">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- personal stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        {% block sheets %}
        {% endblock %}
	</head>
	<body>
      {% block prescripts %}
      {% endblock %}
    <!-- taskbar goes here -->
		<div class="container-fluid">
      {% include 'taskbar.html'%}

			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class='flashes'>
					{% for message in messages %}
							<li>{{ message }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

      {% block content %}
      {% endblock %}
		</div>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- bootstrap js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!-- personal js -->
        {% block scripts %}
        {% endblock %}
	</body>
</html>
