{% extends 'layout.html' %}
{% block content %}
<h1> login</h1>
<div class='row'>
    <div class='col-md-12 col-sm-12'>
        <!-- GOOGLE PLUS SIGN IN-->
        <div id="signInButton">
            <span class="g-signin"
                  data-scope="openid email"
                  data-clientid='347788515231-sr4u8vnad1dsh5bmq8cg6dmhbf74urmq.apps.googleusercontent.com'
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback"
                  data-approvalprompt="force">
            </span>
        </div>
    </div>
</div>
<div class='row'>
  <div class='col-md-12 col-sm-12'>
    <button>
      <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
      <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
      </fb:login-button>
    </button>
  </div>
</div>
<div class='row'>
  <div class='col-md-12 col-sm-12'>
      <a class='btn btn-secondary'href='https://github.com/login/oauth/authorize?client_id=b516631fb649ebaa3abb&state={{state()}}'>Github</a>
  </div>
</div>
<div class='row'>
    <div class='col-md-12 col-sm-12'>
        <div id="result"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signInButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect',
      processData: false,
      data: '{"state": "{{state()}}", "code": "' + authResult['code'] + '"}',
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          var output = '<h3>Welcome, ' + result + '!</h3>'
          $('#result').html('<h2>Login Successful!</h2>'+ output + '</br>Redirecting...')
          setTimeout(function() {
            window.location.href = "{{url_for('home')}}";
          }, 2000);
          

      } else if (authResult['error']) {

    console.log('There was an error: ' + authResult['error']);
  } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  }); } }
</script>

<script>
//FACEBOOK SIGN IN
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1886659994902904',
      cookie     : true,  // enable cookies to allow the server to access the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use version 2.8
  });
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var response = FB.getAuthResponse()
    if (!response){
        console.log('failed') 
        return -1;
    }
    var access_token = response['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect',
      processData: false,
      data: '{"state": "{{state()}}", "access_token": "' + access_token + '"}',
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          var output = '<h3>Welcome, ' + result + '!</h3>'
          $('#result').html('<h2>Login Successful!</h2>'+ output + '</br>Redirecting...')
         setTimeout(function() {
            window.location.href = "{{url_for('home')}}";
         }, 4000);
          
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  });
    });
  }
</script>
{% endblock %}
