{% extends 'layout.html' %}
{% block content %}
<div class='row'>
    <div class='col-md-8 col-sm-8'>
        <h1>{{name}}'s Profile</h1>
    </div>
    <div class='col-md-4 col-sm-4'>
        <img alt='user photo' src={{picture}}>
    </div>
</div>
<div class='row'>
    <div class='categories col-sm-6 col-md-6'>

        <h3> Items added </h3>
        {% for item in items %}
            <div class='row'>
                <div class='col-sm-3 col-md-3'>
                    <img src="{{item.picture}}">
                </div>
                <div class='col-sm-3 col-md-3'>
                    <a href='{{url_for("item_page", category=item.category, title=item.title)}}'>{{item.title}}</a>
                    <i><a href='{{url_for("category_page", category=item.category)}}'> ~ {{item.category}}</a></i>
 
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

    <div class='latest col-sm-6 col-md-6'>
        <h3> Favorites </h3>
        {% for item in favorites %}
            <div class='row'>
                <div class='col-sm-3 col-md-3'>
                    <img src="{{item.picture}}">
                </div>
                <div class='col-sm-3 col-md-3'>
                    <a href='{{url_for("item_page", category=item.category, title=item.title)}}'>{{item.title}}</a>
                    <i><a href='{{url_for("category_page", category=item.category)}}'> ~ {{item.category}}</a></i>
 
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
